<!DOCTYPE html>
<div class="content-container" ng-controller="ViewCalendarController">
    <ul class="breadcrumb">
        <li ng-if="!groupid"><a href="#/clients">{{'label.anchor.clients' | translate}}</a></li>
    </ul>
    <wizard current-step="step">
        <wz-step icon="fa fa-circle-o" data-title="{{'label.heading.createschoolCalendar' | translate}}">
            <div class="card-content">
                <form name="createclientform" novalidate="" class="card form-horizontal well" rc-submit="submit()">
                    <api-validate></api-validate>
                    <fieldset>
                        <legend>{{'label.heading.calendarDetails' | translate}}</legend>
                        <div class="row" style="margin-left:-1px;margin-right: 1px;">
                            <div class="col-sm-8 col-md-8">
                        <table class="table table-striped table-bordered" >
                            <tr>
                                <th class="table-bold-loan">{{'label.input.office' | translate}}</th>
                                <td>{{calendarData.officeName}}</td>
                            </tr>
                            <tr>
                                <th class="table-bold-loan">{{'label.input.class'  | translate}}</th>
                                <td><span class="padded-td">{{calendarData.classs.name}}</span></td>
                            </tr>
                            <tr>
                                <th class="table-bold-loan">{{'label.input.section' | translate}}</th>
                                <td><span class="padded-td">{{calendarData.section.name}} </span></td>

                            </tr>
                            <tr>
                                <th class="table-bold-loan">{{'label.input.session'  | translate}}</th>
                                <td><span class="padded-td">{{calendarData.session.name}}</span></td>
                            </tr>
                            <tr>
                                <th class="table-bold-loan">{{'label.input.is_active'  | translate}}</th>
                                <td><span class="padded-td">{{calendarData.isactive}}</span></td>

                            </tr>
                        </table>
                            </div>




                        <div ng-repeat="day in days track by $index" >

                                <td class="btn btn-primary" ng-click="showbyDay(day.id)">{{day.name}}</td>

                        </div>
                        </div>
                        <div class="row">
                            <legend>Calendar Details <a class="btn btn-primary" style="float:right;"
                                                        ng-click="routeToEditCalendar(calendarData.id)"
                                                        >{{'label.button.edit' | translate }}</a>
                            </legend>
                        </div>

                        <div class="row">
                           <table class="table table-striped .width100">
                               <thead>
                               <tr>
                                <th class="col-md-2"><span class="required" ng-show="isPeriodRequired">*</span> <label >Period</label></th>
                                <th class="col-md-3"><span class="required" ng-show="isTimeDurationRequired">*</span><label>Time Duration</label></th>
                                <th class="col-md-3"><span class="required" ng-show="isFacultyRequired">*</span><label>Faculty</label></th>
                                <th class="col-md-3"><span class="required" ng-show="isSubjectRequired">*</span><label>Subject</label></th>
                               </tr>
                               </thead>
                               <tbody>
                            <tr  ng-repeat="calendar in calendarDetail track by $index">
                             <td>{{calendar.lecture.name}}</td>
                             <td>{{calendar.timeDuration.name}}</td>
                             <td>{{calendar.facultyName}}</td>
                             <td>{{calendar.subject.name}}</td>
                            </tr>
                               </tbody>
                           </table>
                        </div>
                    </fieldset>
                </form>
            </div>
        </wz-step>
    </wizard>
</div>
