<form name="editclientform" novalidate="" class="content-container form-horizontal" ng-controller="EditClientController"
      rc-submit="submit()">
        <ul class="breadcrumb">
            <li><a href="#/clients">{{'label.anchor.clients' | translate}}</a></li>
            <li><a href="#/viewclient/{{clientId}}">{{'label.anchor.viewclient' | translate}}</a></li>
            <li class="active">{{'label.anchor.editclient' | translate}}</li>
        </ul>
    <api-validate></api-validate>
    <div class="card well">
	    <fieldset>
	        <legend>{{'label.heading.editclient' | translate}}</legend>
				<div class="form-group">
					<label class="control-label col-sm-2">
						{{'label.input.office' | translate}} <span ng-show="forceOffice == null" class="required">*</span>
					</label>
					<div class="col-sm-3">
						<div ng-show="forceOffice == null">
							<select  id="officeId" ng-model="formData.officeId"  class="form-control"
									ng-options="office.id as office.name for office in offices" value="{{office.id}}"
									ng-change="changeOffice(formData.officeId)"></select>
						</div>
						<div ng-show="forceOffice != null">
							<p class="form-control-static">{{forceOffice.name}}</p>
						</div>
					</div>
					<label class="control-label col-sm-2">{{'label.input.staff' | translate}}</label>
					<div class="col-sm-3">
						<select id="staffId" ng-model="formData.staffId"  class="form-control"
								ng-options="staff.id as staff.displayName for staff in staffs" value="{{staff.id}}">
							<option value="">--{{'label.menu.selectloanofficer' | translate}}--</option>
						</select>
					</div>
				</div>
				<div data-ng-switch on="showNonPersonOptions">
					<div data-ng-switch-when="false">
						<div class="form-group">
							<label class="control-label col-sm-2" for="firstname">{{ 'label.input.firstname' | translate }}<span
									class="required">*</span></label>
							<div class="col-sm-3">
								<input type="text" id="firstname" name="firstname" ng-model="formData.firstname"  class="form-control" required
									   ng-pattern="/(^[A-z])[A-z.'-]*/" late-Validate/>
							</div>
							<div class="col-sm-4">
                               <span ng-show="createclientform.firstname.$invalid && createclientform.firstname.$dirty">
                                   <small class="error required" ng-show="createclientform.firstname.$error.pattern">
                                       {{'validation.msg.client.name.cannot.start.specialchar.ornumber' | translate}}
                                   </small>
                               </span>
								<form-validate valattributeform="createclientform" valattribute="firstname"/>
							</div>
						</div>
					</div>
				</div>
				<div data-ng-switch on="showNonPersonOptions">
					<div data-ng-switch-when="false">
						<div class="form-group">
							<label class="control-label col-sm-2" for="middlename">{{'label.input.middlename' | translate}}</label>
							<div class="col-sm-3">
								<input type="text" id="middlename" name="middlename" ng-model="formData.middlename"  class="form-control" ng-pattern="/(^[A-z])[A-z.'-]*/"/>
							</div>
							<div class="col-sm-4">
                               <span ng-show="createclientform.middlename.$invalid && createclientform.middlename.$dirty">
                                   <small class="error required" ng-show="createclientform.middlename.$error.pattern">
                                       {{'validation.msg.client.name.cannot.start.specialchar.ornumber' | translate}}
                                   </small>
                               </span>
							</div>
						</div>
					</div>
				</div>
				<div data-ng-switch on="showNonPersonOptions">
					<div data-ng-switch-when="false">
						<div class="form-group">
							<label class="control-label col-sm-2" for="lastname">{{'label.input.lastname' | translate}}
								<span class="required">*</span>
							</label>
							<div class="col-sm-3">
								<input type="text" id="lastname" name="lastname" ng-model="formData.lastname" class="form-control"
									   ng-pattern="/(^[A-z])[A-z.'-]*/" required late-Validate/>
							</div>
							<div class="col-sm-4">
                               <span ng-show="createclientform.lastname.$invalid && createclientform.lastname.$dirty">
                                   <small class="error required" ng-show="createclientform.lastname.$error.pattern">
                                       {{'validation.msg.client.name.cannot.start.specialchar.ornumber' | translate}}
                                   </small>
                               </span>
								<form-validate valattributeform="createclientform" valattribute="lastname"/>
							</div>
						</div>
					</div>
				</div>
				<div data-ng-switch on="showNonPersonOptions">
					<div data-ng-switch-when="true">
						<div class="form-group">
							<label class="control-label col-sm-2" for="fullname">{{'label.input.fullname' | translate}}<span
									class="required">*</span></label>
							<div class="col-sm-3">
								<input type="text" id="fullname" name="fullname" ng-model="formData.fullname" class="form-control"
									   ng-pattern="/(^[A-z])[A-z.'-]*/" required late-Validate/>
							</div>
							<div class="col-sm-2">
								<form-validate valattributeform="createclientform" valattribute="fullname"/>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="mobileNo">{{'label.input.mobilenumber' | translate}}</label>
					<div class="col-sm-3">
						<input type="text" id="mobileNo" name="mobileNo" ng-model="formData.mobileNo"
							   ng-pattern="/^[0-9]+$/"  class="form-control"/>
						<span ng-show="createclientform.mobileNo.$invalid && createclientform.mobileNo.$dirty">
                        <small class="required" ng-show="createclientform.mobileNo.$error.pattern">
                        {{'label.mustbenumeric' | translate}}
                        </small>
                        </span>
					</div>
					<label class="control-label col-sm-2">{{'label.input.clienttype' | translate}}</label>
					<div class="col-sm-3">
						<select id="clienttypeId" ng-model="formData.clientTypeId"  class="form-control"
								ng-options="clienttype.id as clienttype.name for clienttype in clienttypeOptions" value="{{clienttype.id}}">
							<option value="">--{{'label.menu.clienttype' | translate}}--</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" ng-hide="showNonPersonOptions">{{'label.input.dateofbirth' | translate}}</label>
					<label class="control-label col-sm-2" ng-show="showNonPersonOptions">{{'label.input.incorporationdate' | translate}}</label>
					<div class="col-sm-3">
						<input id="dateofbirth" type="text" name="dateofbirth" datepicker-pop="dd MMMM yyyy"
							   ng-model="formData.dateOfBirth" is-open="opened1" max="restrictDate"  class="form-control"/>
					</div>
					<div data-ng-switch on="showNonPersonOptions">
						<div data-ng-switch-when="false">
							<label class="control-label col-sm-2">{{'label.input.gender' | translate}}</label>
							<div class="col-sm-3">
								<select id="genderId" ng-model="formData.genderId"  class="form-control"
										ng-options="gender.id as gender.name for gender in genderOptions" value="{{gender.id}}">
									<option value="">--{{'label.menu.gender' | translate}}--</option>
								</select>
							</div>
						</div>
					</div>
					<div data-ng-switch on="showNonPersonOptions">
						<div data-ng-switch-when="true">
							<label class="control-label col-sm-2">{{'label.input.incorpValidityTillDate' | translate}}</label>
							<div class="col-sm-3">
								<input id="incorpValidityTillDate" type="text" name="incorpValidityTillDate" datepicker-pop="dd MMMM yyyy"
									   ng-model="first.incorpValidityTillDate" is-open="opened1" max="'2020-06-22'"  class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="externalId">{{'label.input.externalid' | translate}}</label>
					<div class="col-sm-3">
						<input type="text" id="externalId" name="externalId" ng-model="formData.externalId"  class="form-control"/>
					</div>
					<label class="control-label col-sm-2">{{'label.input.submittedon' | translate}}</label>
					<div class="col-sm-3">
						<input id="submittedon" type="text" name="submittedon" datepicker-pop="dd MMMM yyyy"
							   ng-model="first.submitondate" is-open="opened1" min="'2000-01-01'" max="restrictDate"  class="form-control"/>
					</div>
				</div>
				<div class="form-group" has-permission="ACTIVATE_CLIENT">
					<label class="control-label col-sm-2">{{'label.input.active' | translate}}</label>
					<div class="col-sm-3">
						<input id="activeCheckbox" type="checkbox" ng-model="formData.active" data-ng-change="setChoice()">
					</div>
					<div data-ng-switch on="choice">
						<div data-ng-switch-when="1">
							<label class="control-label col-sm-2">{{'label.input.activationdate' | translate}}<span class="required">*</span></label>
							<div class="col-sm-3">
								<input id="activationDate" type="text" name="activationdate" datepicker-pop="dd MMMM yyyy"
									   ng-model="date" is-open="opened" min="'2000-01-01'" max="restrictDate"  class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="customrow">
						<table class="table ">
							<thead>
							<tr>
								<th >{{ 'label.heading.familymembers' | translate }}</strong></th>&nbsp;
								<th><a ng-click="addFamilyMember()" ><i class="fa fa-plus" uib-tooltip="{{'label.button.addfamilymember' | translate}}"></i></a></th>
								</th>
							</tr>
							</thead>
						</table>
					</div>
				</div>
				<div ng-repeat="family in familyArray">
					<div class="customrow" ng-show="$index>0">
						<table class="table ">
							<thead>
							<tr>
								<th >{{ 'label.heading.familymembers' | translate }}</strong></th>&nbsp;
								<th> <a ng-click="removeFamilyMember($index)" uib-tooltip="{{'label.remove.row' | translate}}"><i class="fa fa-times"></i></a>
							</tr>
							</thead>
						</table>
					</div>

					<div class="form-group" >
						<label class="control-label col-sm-2">{{ 'label.input.relationship' | translate }}<span class="required">*</span></label>
						<div class="col-sm-3"  >
							<select  id="relationship" ng-model="familyArray[$index].relationship"  class="form-control"
									ng-options="relationshipIdOption.id as relationshipIdOption.name for relationshipIdOption in relationshipIdOptions track by $index"
									value={{relationshipIdOption.id}}></select>
						</div>
					</div>


					<div class="form-group" >
						<label class="control-label col-sm-2" for="firstName">{{'label.input.firstname' | translate }}</label>
						<div class="col-sm-3">
							<input type="text" id="ffirstName" name="ffirstName"  ng-model="familyArray[$index].firstname"  class="form-control">
						</div>
						<label class="control-label col-sm-2" for="qualificationId">{{ 'label.input.qualification' | translate }}</label>
						<div class="col-sm-3">
							<select  id="qualificationId" ng-model="familyArray[$index].educationalStatus" class="form-control"
									ng-options="qualification.id as qualification.name for qualification in qualifications" value="{{qualification.id}}">
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="middleName">{{'label.input.middlename' | translate }}</label>

						<div class="col-sm-3">
							<input type="text" id="fmiddleName" name="fmiddleName" ng-model="familyArray[$index].middlename"  class="form-control">
						</div>
						<label class="control-label col-sm-2" for="mobileNumber">{{ 'label.input.mobileNumber' | translate }}</label>
						<div class="col-sm-3">
							<input type="text" id="mobileNumber" name="mobileNumber" ng-model="familyArray[$index].mobileNo"
								   ng-pattern="/^[0-9]+$/"  class="form-control"/>
							<span ng-show="createclientform.mobileNo.$invalid && createclientform.mobileNo.$dirty">
                              <small class="required" ng-show="createclientform.mobileNo.$error.pattern">
                              {{'label.mustbenumeric' | translate}}
                             </small>
                              </span>
						</div>
					</div>

					<div class="form-group" >
						<label class="control-label col-sm-2" for="flastName">{{'label.input.lastname' | translate }}</label>

						<div class="col-sm-3">
							<input type="text" id="flastName" name="lastName" ng-model="familyArray[$index].lastname"  class="form-control">
						</div>

					</div>

					<div class="form-group" >
						<label class="control-label col-sm-2" for="fdateofbirth">{{ 'label.input.dateofbirth' | translate }}</label>

						<div class="col-sm-3">
							<input id="fdateofbirth" type="text" name="fdateofbirth" datepicker-pop="dd MMMM yyyy"
								   ng-model="familyArray[$index].dateOfBirth" is-open="opened1" max="restrictDate"  class="form-control"/>
						</div>
						<label class="control-label col-sm-2" for="age">{{ 'label.input.age' | translate }}</label>

						<div class="col-sm-3">
							<input type="text" id="age" name="age" ng-model="familyArray[$index].age"  class="form-control">
						</div>
					</div>


					<div class="form-group" >
						<div class="control-label col-sm-2">
							<label>{{ 'label.input.gender' | translate }}</label>
						</div>
						<div class="col-sm-3" >
							<select  id="gender" ng-model="familyArray[$index].gender"  class="form-control"
									ng-options="genderIdOption.id as genderIdOption.name for genderIdOption in genderOptions track by $index"
									value={{genderIdOption.id}}></select>
						</div>
						<div class="control-label col-sm-2">
							<label>{{ 'label.input.profession' | translate }}</label>
						</div>
						<div class="col-sm-3" >
							<select  id="occupation" ng-model="familyArray[$index].occupation"  class="form-control"
									ng-options="professionIdOption.id as professionIdOption.name for professionIdOption in professionIdOptions track by $index"
									value={{professionIdOption.id}}></select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="customrow">
						<table class="table ">
							<thead>
							<tr>
								<th >{{ 'label.heading.educationdetails' | translate }}</strong></th>&nbsp;
								<th><a ng-click="addEducationDetails()" ><i class="fa fa-plus" uib-tooltip="{{'label.button.educationDetails' | translate}}"></i></a></th>
								</th>
							</tr>
							</thead>
						</table>
					</div>

					<div ng-repeat="education in educationArray">
						<div class="customrow" ng-show="$index>0">
							<table class="table ">
								<thead>
								<tr>
									<th >{{ 'label.heading.educationdetails' | translate }}</strong></th>&nbsp;
									<th> <a ng-click="removeEducationArray($index)" uib-tooltip="{{'label.remove.row' | translate}}"><i class="fa fa-times"></i></a>
								</tr>
								</thead>
							</table>
						</div>

						<div class="form-group" >
							<label class="control-label col-sm-2">{{ 'label.input.organasation' | translate }}<span class="required">*</span></label>
							<div class="col-sm-3">
								<input type="text" id="organasationId" name="organasationName" ng-model="educationArray[$index].organasation"  class="form-control">
							</div>
						</div>

						<div class="form-group" >
							<label class="control-label col-sm-2" for="fromdate">{{'label.input.fromdate' | translate }}</label>
							<div class="col-sm-3">
								<input id="fromdate" type="text" name="fromdate" datepicker-pop="dd MMMM yyyy"
									   ng-model="educationArray[$index].fromdate" is-open="opened1" max="restrictDate"  class="form-control"/>
							</div>
							<label class="control-label col-sm-2" for="todate">{{ 'label.input.todate' | translate }}</label>
							<div class="col-sm-3">
								<input id="todate" type="text" name="todate" datepicker-pop="dd MMMM yyyy"
									   ng-model="educationArray[$index].todate" is-open="opened1" max="restrictDate"  class="form-control"/>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="qualificationId">{{ 'label.input.fromclass' | translate }}</label>
							<div class="col-sm-3">
								<select  id="qualificationIdfrom" ng-model="educationArray[$index].fromclass" class="form-control"
										ng-options="qualification.id as qualification.name for qualification in qualifications" value="{{qualification.id}}">
								</select>
							</div>
							<label class="control-label col-sm-2" for="qualificationId">{{ 'label.input.toclass' | translate }}</label>
							<div class="col-sm-3">
								<select  id="qualificationIdto" ng-model="educationArray[$index].toclass" class="form-control"
										ng-options="qualification.id as qualification.name for qualification in qualifications" value="{{qualification.id}}">
								</select>
							</div>
						</div>
					</div>

				</div>


				<div class="col-md-offset-3">
	            <a id="cancel" href="#/viewclient/{{clientId}}">
	                <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
	            </a>
	            <button id="save" type="submit" class="btn btn-primary" has-permission='UPDATE_CLIENT'>{{'label.button.save' | translate}}</button>
	        </div>

	    </fieldset>
	</div>
</form>
