<!DOCTYPE html>
<div class="content-container" ng-controller="CreateFeestructureController">
    <ul class="breadcrumb">
        <li><a href="#/feestructure">{{'label.anchor.feestructure' | translate}}</a></li>
         </ul>
    <wizard current-step="step">
        <wz-step icon="fa fa-circle-o" data-title="{{'label.heading.createfeeStructure' | translate}}">
            <div class="card-content">
                <form name="createclientform" novalidate="" class="card form-horizontal well" rc-submit="submit()">
                    <api-validate></api-validate>
                    <fieldset>
                        <legend>{{'label.heading.createfeeStructure' | translate}}</legend>
                        <div class="form-group">
                            <label class="control-label col-sm-2">
                                {{'label.input.office' | translate}} <span ng-show="forceOffice == null" class="required">*</span>
                            </label>
                            <div class="col-sm-3">
                                <div ng-show="forceOffice == null">
                                    <select chosen="offices" id="officeId" ng-model="formData.office"  class="form-control"
                                            ng-options="office.id as office.name for office in offices" value="{{office.id}}"
                                            ng-change="changeOffice(formData.officeId)"></select>
                                </div>
                                <div ng-show="forceOffice != null">
                                    <p class="form-control-static">{{forceOffice.name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{'label.input.class' | translate}}<span class="required" >*</span></label>
                            <div class="col-sm-3">
                                <select  chosen="classes" id="classId" ng-model="formData.class"  class="form-control"
                                         ng-options="class1.id as class1.name for class1 in classes" value="{{class1.id}}">
                                    <option value="">--{{'label.menu.class' | translate}}--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{'label.input.session' | translate}}<span class="required" >*</span></label>
                            <div class="col-sm-3">
                                <select  chosen="sessions" id="sessionId" ng-model="formData.session"  class="form-control"
                                         ng-options="session.id as session.name for session in sessions" value="{{session.id}}">
                                    <option value="">--{{'label.menu.selectSession' | translate}}--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" >{{'label.input.is_active' | translate}}<span class="required" >*</span> </label>
                            <div class="col-sm-3">
                                <input class="input-mini-small" type="checkbox"
                                       ng-model="formData.isActive">
                            </div>
                        </div>

                        <div class="row">
                            <legend>{{'label.heading.createfeeStructure' | translate}} <a class="btn btn-primary" style="float:right;"
                                                        ng-click="addFeeDetails()" >{{'label.button.add' | translate }}</a>
                            </legend>

                        </div>

                        <div class="row">

                            <div class="form-group">
                                <div class="col-md-3"><span class="required" >*</span> <label >{{'label.add.feeName'|translate}}</label></div>
                                <div class="col-md-3"><span class="required" >*</span><label>{{'label.add.feeAmount'|translate}}</label></div>
                                <div class="col-md-2">&nbsp;<label>{{'label.remove.row'|translate}}</label> </div>
                            </div>

                            <div class="form-group" ng-repeat="fee in formData.feestructureDetails track by $index">
                                <ng-form name="formcalendarperiod" novalidate="" rc-submit="submit()">
                                    <div class="col-md-3">
                                        <select chosen="fees" id="fee" name="feeName" ng-model="fee.feeName"
                                                class="form-control"
                                                ng-options="fee.id as fee.name for fee in fees"
                                                value="{{fee.id}}" ng-required="isfeeRequired">
                                            <option value=""> {{'label.menu.fee' | translate}}</option>
                                        </select> <span class="error"></span>
                                    </div>
                                </ng-form>

                                <ng-form name="feeAmount" novalidate="" rc-submit="submit()">
                                    <div class="col-md-3">
                                        <input type="text" id="feeAmount" name="feeAmount" ng-model="fee.feeAmount"  />
                                        </select>
                                    </div>
                                </ng-form>

                                <ng-form>
                                    <div class="col-md-2"><!--<span><a ng-click="deleteCalendarDetails($index)"><i class="icon-remove icon-blur"></i></a></span> jjj-->
                                        <button class="btn-warning" type="button" has-permission='DELETE_FEESTRUCTURE'
                                                data-ng-click="deletefeeDetails($index)"><i class="fa fa-trash-o "></i>
                                        </button>
                                    </div>
                                </ng-form>

                            </div>
                        </div>
                        <div class="col-md-offset-4">
                            <a id="cancel" ng-href="{{cancel}}" class="btn btn-default">{{'label.button.cancel' | translate}}</a>
                            <button id="save" type="submit" class="btn btn-primary" ng-hide="blockUI"
                                    has-permission='CREATE_FEESTRUCTURE'>{{'label.button.save' | translate}}
                            </button>
                            <button class="btn btn-info" ng-show="blockUI"><strong>{{'label.button.processing' |
                                translate}}</strong></button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </wz-step>
    </wizard>
</div>
